// ImtPN (Atlantique)
// Bootswatch

//
// Color system
//

// General layout settings

@import '../../imtpn/scss/abstracts/colors';
$primary: $imt-telecom_paris-primary;
$secondary: $imt-telecom_paris-secondary;
// A slight darker gray for more contrast with white.
$imt-lightgray: #aba9a1;

@import "../../imtpn/scss/pre";

.navbar__logo {
  height: 80px !important;
}